#product-featured.row
  .product.col-xs-12.col-lg-10.col-lg-offset-1
    %a{:href => "themes/theme_name"} 
      =image_tag 'http://i.istockimg.com/file_thumbview_approve/20327056/2/stock-photo-20327056-portland-oregon-sign.jpg', class: 'img-responsive', width: "100%"
#products.row
  .col-lg-10.col-lg-offset-1
    .row
      .product.col-xs-12.col-sm-6.col-md-6
        %a{:href => "#"} 
          =image_tag 'http://placehold.it/723x450', class: 'img-responsive'
        .description
          %h4= link_to 'Theme Title'
          %p $50.00
      .product.col-xs-12.col-sm-6.col-md-6
        %a{:href => "#"} 
          =image_tag 'http://placehold.it/723x450', class: 'img-responsive'
        .description
          %h4= link_to 'Theme Title'
          %p $50.00
      .product.col-xs-12.col-sm-6.col-md-6
        %a{:href => "#"} 
          =image_tag 'http://placehold.it/723x450', class: 'img-responsive'
        .description
          %h4= link_to 'Theme Title'
          %p $50.00
      .product.col-xs-12.col-sm-6.col-md-6
        %a{:href => "#"} 
          =image_tag 'http://placehold.it/723x450', class: 'img-responsive'
        .description
          %h4= link_to 'Theme Title'
          %p $50.00