#product-show
  .row
    .col-xs-12.col-xs-12.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2
      %h2 Theme Title
      %p 
        %a{href: "#"} Live Demo
      =image_tag 'http://placehold.it/750x400', class: 'img-responsive'
      .description
        .panel.panel-default
          .panel-heading Purchase this theme
          .panel-body
            %h4.pull-left $20.00
            %a.pull-right.tp-btn{href: "#"} Checkout 

            %p.clear-both Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
            
  
