#product-show
  .row
    .col-sm-12
      %h2 Theme Title
    .product-images.col-sm-12
      =image_tag 'http://placehold.it/280x200'
      =image_tag 'http://placehold.it/280x200'
      =image_tag 'http://placehold.it/280x200'
    .demo.col-sm-12
      %a{href: "#"} Live Demo
    .description.col-sm-12
      %p Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
      %ul.nav-list
        %li Feature
        %li Feature
        %li Feature
        %li Feature
        %li Feature
    .col-sm-12
      %a.tp-btn{href: ""} Buy Now 
  
